

body { 
background-image: url(background.jpg);
background-repeat: repeat;
background-color: aqua

}

p {
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%em;
    font-size: 1.2em;
    font-family: Verdana,sans-serif;
}
h1  {
    color: darkred;
    text-align: center;
    font-size: 1.7em;
    font-family: Verdana,sans-serif;
}

h2 {
    color: lightpink;
    text-align: center;
    font-size: 1.7em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

